<%= render '/dashboard/blocks/filter' %>
<div class="row">
    <div class="col-4">
        <%= render '/dashboard/blocks/departments' %>
    </div>
    <div class="col-8">
        <%= render '/dashboard/blocks/people' %>
    </div>
</div>