<table class="table">
    <thead>
        <th><%= t 'model.person.attributes.fullname' %></th>
        <th><%= t 'model.person.attributes.assigned_at' %></th>
    </thead>
    <tbody>
        <%= render @people %>
    </tbody>
</table>