<main id="people" class="card">
    <div class="card-header">
        <%= @department ? @department.name_on_date(@date) : (t 'blocks.people.index') %>
    </div>
    <div class="card-body">
	    <%= render 'people/people' %>
    </div>
</main>