<div class="card">
  <div class="card-header">
      <h3 class="mb-0">History</h3>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Start at</th>
          <th>End at</th>
          <th>Department</th>
          <th>Person</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @working_periods %>
      </tbody>
    </table>
  </div>
</div>