<ul class="nav nav-pills nav-justified my-3">
  <li class="nav-item active">
      <%= link_to (t '.dashboard'), dashboard_path, class: "nav-link #{'active' if current_page?(dashboard_path)}" %>
  </li>
  <li class="nav-item">
      <%= link_to (t '.people'), people_path, class: "nav-link #{'active' if current_page?(people_path)}" %>
  </li>
  <li class="nav-item">
      <%= link_to (t '.departments'), departments_path, class: "nav-link #{'active' if current_page?(departments_path)}" %>
  </li>
</ul>