<% people = department.people_working_on_date(@date) %>
<% count = people.nil? ? 0 : people.size %>

<li>
	<%= link_to dashboard_path(department: department, date: @date ) do %>
		<%= department.name_on_date(@date) %>
		<hr>
		<small>People: <%= count %></small>
	<% end %>
	<details>
	<summary></summary>
		<nav class="sub-menu">
			<ul>
				<%= render department.children %>
			</ul>
		</nav>
	</details>
</li>